// styles.scss
@import 'partials/vars';
@import 'partials/reset';
@import 'partials/header';
@import 'partials/body';
@import 'partials/nav';
@import 'partials/main';
@import 'partials/footer';
@import 'partials/button';
@import 'partials/mixins';


.logo {
	font-size: 24px;
	font-weight: bold;
}

.menu {
	list-style: none;

	a {
		color: $color_1;
		text-decoration: none;
		margin-right: 20px;

		&.active {
			color: $color_2;
			font-weight: bold;
		}
	}

	li {
		display: inline;
		margin-right: 20px;
	}

	a {
		color: $color_1;
		text-decoration: none;
	}
}


.carousel {
	display: flex;
	overflow: hidden;
	max-width: 100%;
	position: relative;
	align-items: center; // Alinea verticalmente el contenido del carrusel

	.carousel-control-prev,
	.carousel-control-next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		font-size: 2rem;
		background-color: transparent;
		border: none;
		color: $color_1;
	}

	.carousel-control-prev {
		left: 10px;
	}

	.carousel-control-next {
		right: 10px;
	}

	img {
		width: 100%;
		height: auto;
	}
}


.product-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 20px;
}

.product {
	@include product-styles;
}

.product-catalog {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 20px;
}

.product-image {
	width: 100%;
	height: auto;
	max-width: 100%;
}

.product-catalog .product {
	@include product-styles;

	overflow: hidden;

	h3,
	p,
	.price {
		margin: 10px;
	}
}

.price {
	font-weight: bold;
	color: $color_3;
}

.about-section {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: $background-color_3;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

	h2 {
		color: $color_3;
	}

	h3 {
		color: $color_4;
	}
}

.contact-section {
	max-width: 800px;
	margin: 20 auto;
	margin-bottom: 100px;
	padding: 20px;
	background-color: $background-color_3;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

	h2 {
		color: $color_3;
	}
}

form {
	display: grid;
	grid-gap: 10px;
}

label {
	font-weight: bold;
}

input {
	width: 100%;
	padding: 8px;
}

textarea {
	width: 100%;
	padding: 8px;
}

.cart-section {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: $background-color_3;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

	h2 {
		color: $color_3;
	}
}

.cart-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;

	img {
		max-width: 80px;
		height: auto;
		margin-right: 20px;
	}

	.item-details {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		max-width: 70%;
	}

	.product-name {
		font-weight: bold;
		margin-bottom: 5px;
	}

	.product-price {
		color: $color_3;
		font-weight: bold;
	}

	.quantity {
		margin-top: 10px;
	}

	.remove-button {
		margin-top: 10px;
		color: $color_4;
		cursor: pointer;
		transition: color 0.3s ease;

		&:hover {
			color: darken($color_4, 20%);
		}
	}

	.total {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 20px;
	}
}

@media screen and (max-width: 768px) {
	.product-grid {
		flex-direction: column;
		align-items: center;
	}

	.product {
		width: 100%;
		margin: 10px 0;
	}

	.product-catalog {
		display: flex;
		overflow-x: auto;
		margin: 20px;
		padding-bottom: 20px;

		.product {
			@include product-styles;

			flex: 0 0 auto;
			margin-right: 20px;
		}

		h3,
		p,
		.price {
			margin: 10px;
		}
	}
}