body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu {
    list-style: none;
}
.menu a.active {
    color: #ff9900;
    font-weight: bold;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

/* Estilos del carrito */
.fa-shopping-cart {
    margin-left: 5px;
}
.carousel {
    display: flex;
    justify-content: center; 
    align-items: center; 
    max-width: 100%;
    /* height: 400px; 
    /* background-color: #fff; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */

}
/* /* Estilos del carrusel
.carousel {
    display: flex;
    overflow: hidden;
} */

.carousel img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

/* Estilos  productos */
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}

.product {
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product h3 {
    margin: 10px 0;
}