* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  min-height: 100vh; /* Establecer el cuerpo al 100% de la altura del viewport */
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

main {
  max-width: 1200px;
  margin: 20px auto;
  flex: 1; /* Hacer que el contenido ocupe el espacio restante */
  /* margin-bottom: 60px; */
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  bottom: 5px;
  left: 50%;
}
button:hover {
  background-color: #0056b3;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.menu {
  list-style: none;
}
.menu a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}
.menu a.active {
  color: #ff9900;
  font-weight: bold;
}
.menu li {
  display: inline;
  margin-right: 20px;
}
.menu a {
  color: #fff;
  text-decoration: none;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.carousel img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.product {
  width: calc(25% - 30px);
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #d9d9d9;
}
.product img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}
.product h3 {
  margin: 10px 0;
}
.product p {
  margin-bottom: 10px;
}

.product-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.product-catalog .product {
  width: calc(25% - 30px);
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #d9d9d9;
  overflow: hidden;
}
.product-catalog .product img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}
.product-catalog .product h3 {
  margin: 10px 0;
}
.product-catalog .product p {
  margin-bottom: 10px;
}
.product-catalog .product h3,
.product-catalog .product p,
.product-catalog .product .price {
  margin: 10px;
}

.price {
  font-weight: bold;
  color: #007bff;
}

.about-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.about-section h2 {
  color: #007bff;
}
.about-section h3 {
  color: #333;
}

.contact-section {
  max-width: 800px;
  margin: 20 auto;
  margin-bottom: 100px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact-section h2 {
  color: #007bff;
}

form {
  display: grid;
  grid-gap: 10px;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
}

textarea {
  width: 100%;
  padding: 8px;
}

.cart-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.cart-section h2 {
  color: #007bff;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.cart-item img {
  max-width: 80px;
  height: auto;
  margin-right: 20px;
}
.cart-item .item-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 70%;
}
.cart-item .product-name {
  font-weight: bold;
  margin-bottom: 5px;
}
.cart-item .product-price {
  color: #007bff;
  font-weight: bold;
}
.cart-item .quantity {
  margin-top: 10px;
}
.cart-item .remove-button {
  margin-top: 10px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}
.cart-item .remove-button:hover {
  color: black;
}
.cart-item .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .product-grid {
    flex-direction: column;
    align-items: center;
  }
  .product {
    width: 100%;
    margin: 10px 0;
  }
  .product-catalog {
    display: flex;
    overflow-x: auto;
    margin: 20px;
    padding-bottom: 20px;
  }
  .product-catalog .product {
    width: calc(25% - 30px);
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #d9d9d9;
    flex: 0 0 auto;
    margin-right: 20px;
  }
  .product-catalog .product img {
    width: 200px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 10px;
  }
  .product-catalog .product h3 {
    margin: 10px 0;
  }
  .product-catalog .product p {
    margin-bottom: 10px;
  }
  .product-catalog h3, .product-catalog p, .product-catalog .price {
    margin: 10px;
  }
}/*# sourceMappingURL=style.css.map */