* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu {
    list-style: none;
}

.menu a.active {
    color: #ff9900;
    font-weight: bold;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    /* height: 400px; 
    /* background-color: #fff; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */

}

.carousel img {
    width: 100%;
    max-width: 600px;
    height: auto;
}


/* Estilos específicos para la vista de productos */
.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product h3 {
    margin: 10px 0;
}

.product-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.product {
    width: calc(25% - 30px);
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.product img {
    max-width: 100%;
    height: auto;
}

.price {
    font-weight: bold;
    color: #007bff;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos específicos para la vista "About Us" */
.about-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-section h2 {
    color: #007bff;
    /* Color azul para el título principal */
}

.about-section h3 {
    color: #333;
    /* Color gris oscuro para los subtítulos */
}

/* Estilos específicos para la vista de contacto */
.contact-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-section h2 {
    color: #007bff;
}

form {
    display: grid;
    grid-gap: 10px;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 8px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos específicos para la vista del carrito */
.cart-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-section h2 {
    color: #007bff;
}

.cart-item {
    display: flex;
    margin-bottom: 20px;
}

.cart-item img {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
}

.item-details {
    flex-grow: 1;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Media queries para pantallas pequeñas */
@media screen and (max-width: 768px) {
    header nav {
        flex-direction: column;

    }

    header nav .menu li {
        margin-right: 0;

    }

    main {
        padding: 10px;

    }


}

/* Media queries para pantallas medianas */
@media screen and (min-width: 769px) and (max-width: 1200px) {
    header nav .menu li {
        margin-right: 15px;

    }

    .product {
        width: calc(33.333% - 20px);
        /
    }


}

/* Media queries para pantallas grandes */
@media screen and (min-width: 1201px) {
    header {
        padding: 20px 0;
        /* Aumenta el espacio en el encabezado para pantallas grandes */
    }

    header nav .menu li {
        margin-right: 30px;

    }

    main {
        max-width: 1400px;

    }

    .product {
        width: calc(25% - 30px);

    }


}