<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoShoes</title>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">MercadoShoes</div>
            <ul class="menu">
                <li><a href="../index.html">Home</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="about.html" class="active">About us</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="cart.html">Cart <i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
    </header>

    <main>

    </main>

    <footer>
        <p>&copy; 2023 MercadoShoes</p>
    </footer>
</body>

</html>