<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Carrito | MercadoShoes</title>
    <meta name="description"
        content="Bienvenido a MercadoSkater, tu tienda en línea para productos de skate de alta calidad. Encuentra tablas, ropa, calzado y accesorios para skaters de todas las edades." />
    <meta name="keywords"
        content="skate, skateboarding, tablas de skate, ropa de skate, calzado de skate, accesorios de skate" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap">
    <link rel="icon" href="../assets/favicon.ico" type="image/x-icon">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <a href="../index.html" style="text-decoration: none; color:white ;">MercadoShoes</a>
            </div>
            <ul class="menu">
                <li><a href="../index.html">Home</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="about.html">About us</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="cart.html" class="active">Cart <i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Tu carrito</h1>
        <section class="cart-section">
            <h2>Detalle</h2>

            <div class="cart-item">
                <img src="./../assets/img/nike1.png" alt="Product Image">
                <div class="item-details">
                    <h3>Nike Shoe</h3>
                    <p>Price: $99.99</p>
                    <p>Quantity: 1</p>
                </div>
            </div>

            <div class="cart-item">
                <img src="./../assets/img/adidas1.png" alt="Product Image">
                <div class="item-details">
                    <h3>Adidas Shoe</h3>
                    <p>Price: $79.99</p>
                    <p>Quantity: 2</p>
                </div>
            </div>

            <div class="cart-item">
                <img src="./../assets/img/adidas1.png" alt="Product Image">
                <div class="item-details">
                    <h3>Adidas Shoe</h3>
                    <p>Price: $79.99</p>
                    <p>Quantity: 2</p>
                </div>
            </div>

            <div class="cart-item">
                <img src="./../assets/img/adidas1.png" alt="Product Image">
                <div class="item-details">
                    <h3>Adidas Shoe</h3>
                    <p>Price: $79.99</p>
                    <p>Quantity: 2</p>
                </div>
            </div>

            <div class="total">
                <p>Total: $259.97</p>
                <button type="button">Proceed to Checkout</button>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 MercadoShoes</p>
    </footer>
</body>

</html>