<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoShoes</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap">
</head>

<body>
    <header>
        <nav>
            <div class="logo">MercadoShoes</div>
            <ul class="menu">
                <li><a href="../index.html">Home</a></li>
                <li><a href="products.html" class="active">Products</a></li>
                <li><a href="about.html">About us</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="cart.html">Cart <i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
    </header>

    <main>

        <section class="product-catalog">
            <div class="product">
                <img src="./../assets/img/nike1.png" alt="nike1" srcset="">
                <h3>Zapatillas Nike</h3>
                <p>Descripcion del producto</p>
                <span class="price">$1000</span>
                <button>Agregar al carrito</button>
            </div>

            <div class="product">
                <img src="../assets/img/adidas1.png" alt="adidas1">
                <h3>Zapatillas Adidas</h3>
                <p>Otra descripción corta del producto.</p>
                <span class="price">$79.99</span>
                <button>Agregar al carrito</button>
            </div>
            <div class="product">
                <img src="./../assets/img/nike1.png" alt="nike1" srcset="">
                <h3>Zapatillas Nike</h3>
                <p>Descripcion del producto</p>
                <span class="price">$1000</span>
                <button>Agregar al carrito</button>
            </div>

            <div class="product">
                <img src="../assets/img/adidas1.png" alt="adidas1">
                <h3>Zapatillas Adidas</h3>
                <p>Otra descripción corta del producto.</p>
                <span class="price">$79.99</span>
                <button>Agregar al carrito</button>
            </div>
            <div class="product">
                <img src="./../assets/img/nike1.png" alt="nike1" srcset="">
                <h3>Zapatillas Nike</h3>
                <p>Descripcion del producto</p>
                <span class="price">$1000</span>
                <button>Agregar al carrito</button>
            </div>

            <div class="product">
                <img src="../assets/img/adidas1.png" alt="adidas1">
                <h3>Zapatillas Adidas</h3>
                <p>Otra descripción corta del producto.</p>
                <span class="price">$79.99</span>
                <button>Agregar al carrito</button>
            </div>
            <div class="product">
                <img src="./../assets/img/nike1.png" alt="nike1" srcset="">
                <h3>Zapatillas Nike</h3>
                <p>Descripcion del producto</p>
                <span class="price">$1000</span>
                <button>Agregar al carrito</button>
            </div>

            <div class="product">
                <img src="../assets/img/adidas1.png" alt="adidas1">
                <h3>Zapatillas Adidas</h3>
                <p>Otra descripción corta del producto.</p>
                <span class="price">$79.99</span>
                <button>Agregar al carrito</button>
            </div>
        </section>

    </main>

    <footer>
        <p>&copy; 2023 MercadoShoes</p>
    </footer>
</body>

</html>