$color_1: #fff;
$color_2: #ff9900;
$color_3: #007bff;
$color_4: #333;
$font-family_1: "Open Sans", sans-serif;
$background-color_1: #f0f0f0;
$background-color_2: #333;
$background-color_3: #fff;
$background-color_4: #007bff;
$background-color_5: #0056b3;